* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--mainBgColor);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --mainBgColor: #FFF2F2;
    --secondBgColor: #FFEDED;
    --borderColor: #CD0000;
    --thirdBgColor: #FF9D9D;
    --toggleMenuBgColor: #fb5f5fd5;
    --toggleButtonColor: #CD0000;

    --textColor: red;
    --boxShadow: rgba(158, 20, 20, 0.25);
}