.toggleMenu {
    position: absolute;
    background-color: var(--toggleMenuBgColor);
    width: 600px;
    border-left: 2px solid var(--borderColor);
    top: 0;
    bottom: 0;
    right: -800px;
    z-index: 1;
    transition: all 0.5s;
    // visibility: hidden;
}

.showToggleMenu {
    right: 0;
}



// @keyframes display {
//     from {
//         right: -400px;
//     }
//     to {
//         right: 0px;
//     }
// }
