.toggleMenu::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.toggleMenu {
    position: fixed;
    background-color: var(--toggleMenuBgColor);
    max-width: 600px;
    border-left: 2px solid var(--borderColor);
    top: 0;
    bottom: 0;
    right: -800px;
    // right: 0;
    z-index: 1;
    transition: all 0.5s;
    overflow-y: scroll;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    // visibility: hidden;

    .options {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 20px 10px 10px 20px;
        justify-content: space-between;

        .topRight {
            font-size: 40px;
            transition: all .3s;
            cursor: pointer;

            i {
                color: var(--toggleButtonColor);
            }
        }

        .topRight:hover {
            transform: rotate(180deg);
        }

        .topRight:active {
            transform: scale(1.1);
            color: var(--borderColor);
        }

        .topLeft {
            display: flex;
            gap: 10px;
        }
    }

    #help a {
        color: black;
        padding: 10px 20px;
        text-decoration: none;
    }

    #reset,#help {
        padding: 10px 15px;
        color: black;
        background-color: white;
        border: none;
        border-radius: 25px;
        font-size: 24px;
        font-weight: 100;
        transition: all 0.3s, transform .5s;
    }

    #reset:hover, #help:hover{
        background-color: var(--thirdBgColor);
        transform: scale(1.1);
    }

    .shop {
        margin-top: 40px;
        background-color: rgba(255, 255, 255, 0.853);
        
        h1 {
            text-align: center;
            font-size: 40px;  
        }

        .items {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        
        h3 {
            text-align: center;
            font-size: 24px;
        }

        .multiplierTiming {
            font-size: 12px;
            color: gray;
            font-weight: 100;
            text-align: center;
            margin-bottom: 25px;
        }

        .highlight {
            color: var(--textColor);
        }

@media only screen and (max-width: 750px) {
    .upgrades {
        flex-direction: column;
        width: 100%;
    }

    .options {
        width: 100%;
        gap: 0;
        justify-items: center !important;
    }
} 
        .upgrades {
            display: flex;
            gap: 20px;
            padding: 0 10px;


            .requirements {
                font-weight: 200;
                text-align: left;
                margin-top: 10px;
            }

            .upgradeName {
                margin-top: 10px;
                text-align: center;
                font-weight: 500;
            }

            .upgradeItem {
                background-color: var(--menuItemBg);
                padding: 15px 20px;
                flex-basis: 170px;
                border: 2px solid var(--borderColor);
                border-radius: 15px;
                box-shadow: 5px -1px 5px var(--boxShadow);
                margin: 0 auto;
            }


            .itemLogo {
                background-color: var(--thirdBgColor);
                border: 2px solid white;
                width: 72px;
                height: 72px;
                border-radius: 50%;
                color: white;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                box-shadow: 10px -1px 10px var(--boxShadow);
                transition: all 0.3s;

                
                .icon {
                    width: 45px;
                    height: 45px;
                }
            }

            .itemLogo:hover {
                transform: scale(1.1);
            }

        }

        .autoClickers {
            margin-bottom: 30px;
        }
    }
}

.showToggleMenu {
    right: 0;
}


