main {
  min-height: 73vh;
  display: flex;
}
main .mainWrapper {
  width: 100%;
  align-self: flex-end;
  height: 100%;
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.stats {
  background-color: var(--secondBgColor);
  width: 220px;
  align-self: flex-end;
  overflow: hidden;
  height: 400px;
  bottom: 0;
  padding: 15px;
  border: 1px solid var(--borderColor);
}
.stats .statsWrapper {
  background-color: white;
  border-radius: 25px 25px 0 0;
  height: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}
.stats .statsWrapper h2 {
  text-align: center;
  padding: 15px 0;
  font-weight: 800;
  font-size: 48px;
}
.stats .statsWrapper .statsContent {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  text-transform: uppercase;
  font-weight: 275;
}
.stats .statsWrapper .statsContent .statsValue {
  color: var(--textColor);
}

.mainArea {
  background-color: white;
}
.mainArea .mainAreaWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--secondBgColor);
  border: 1px solid var(--borderColor);
  height: 100%;
  padding: 10px 10px 20px 10px;
  overflow: hidden;
  width: 100%;
}
.mainArea .mainAreaWrapper .upgrade {
  margin-top: 15px;
  background-color: white;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
  height: 100%;
  align-self: flex-end;
  width: 200px;
  border: 1px solid var(--borderColor);
}
.mainArea .mainAreaWrapper .upgrade h2 {
  text-align: center;
  padding: 15px 0;
  font-weight: 800;
  font-size: 18px;
}
.mainArea .mainAreaWrapper .upgrade .upgradeContent {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  text-transform: uppercase;
  font-weight: 275;
}
.mainArea .mainAreaWrapper .upgrade .upgradeValue {
  color: var(--textColor);
}
.mainArea .mainAreaWrapper .upgrade .decorDiv {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 150px;
}
.mainArea .mainAreaWrapper .areaContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  align-items: center;
}
.mainArea .mainAreaWrapper .areaContent .mainContent {
  display: flex;
}
.mainArea .mainAreaWrapper .areaContent .mainContent #button {
  margin-top: 20px;
  background: var(--thirdBgColor);
  border: 7px solid #FFFFFF;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 10px -1px 10px var(--boxShadow);
}
.mainArea .mainAreaWrapper .areaContent .mainContent #button:active {
  transform: scale(1.1);
}
.mainArea .mainAreaWrapper .areaContent .mainContent p {
  text-transform: uppercase;
  font-weight: 275;
  font-size: 48px;
  align-self: center;
  margin-left: 50px;
}
.mainArea .mainAreaWrapper .areaContent .buttons {
  display: flex;
  align-self: center;
  gap: 60px;
  margin-left: 300px;
  margin-top: 20px;
}
.mainArea .mainAreaWrapper .areaContent .buttons button {
  cursor: pointer;
  padding: 20px 20px;
  background-color: white;
  border-radius: 33px;
  font-size: 38px;
  transition: all 0.3s;
  border: none;
}
.mainArea .mainAreaWrapper .areaContent .buttons button:hover {
  transform: scale(1.1);
  border: 1px solid var(--borderColor);
}

.decorDiv {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--thirdBgColor);
}
.decorDiv button {
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.decorDiv button:active {
  transform: scale(1.1);
  color: var(--borderColor);
}
.decorDiv .alert {
  background-color: white;
  color: var(--textColor);
  padding: 4px 8px;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  border-radius: 25px;
  margin-top: 10px;
  transition: all 0.5s;
  opacity: 0;
}
.decorDiv .alertVisible {
  opacity: 1 !important;
}/*# sourceMappingURL=main.css.map */